<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista Tipo de Motel</title>
<link rel="stylesheet" type="text/css"
	href="/materialize-v1.0.0/materialize/css/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>
<body>
	<header th:replace="fragments/padrao :: cabecalho"></header>
	<table border="1">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Descrição</th>
				<th>Palavra Chave</th>
				<th>Alterar</th>
				<th>Excluir</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="tipo:${tipos}">
				<td th:text="${tipo.id}" />
				<td th:text="${tipo.nome}" />
				<td th:text="${tipo.descricao}" />
				<td th:text="${tipo.palavraChave}" />
				<td><a th:attr="onclick=|return confirm('Deseja alterar o ID: ${tipo.id}')|" th:href="@{/alterarTipo(id=${tipo.id})}">Alterar</a></td>
				<td><a th:attr="onclick=|return confirm('Deseja excluir o ID: ${tipo.id}')|" th:href="@{/excluirTipo(id=${tipo.id})}">Excluir</a></td>
			</tr>
		</tbody>
	</table>

	<ul class="pagination">
		<li th:class="${pagAtual == 1 ? 'disabled' : 'waves-effect'}"><a th:href="${pagAtual > 1 ? pagAtual -1 : '#'}"><i class="material-icons">chevron_left</i></a></li>
		<li th:class="${pagAtual == p ? 'active  purple': 'waves-effect'}" th:each="p:${numPaginas}"><a th:href="${p}"><span th:text="${p}"></span></a></li>
		<li class="${pagAtual == totalPags ? 'disabled'  : 'waves-effect'}"><a th:href="${pagAtual < totalPags ? pagAtual +1 : '#'}"><i class="material-icons">chevron_right</i></a></li>				
	</ul>
	
		<h3>Buscar</h1>
		<form action="/buscar">
		
			<label>Palavra Chave</label>
				<input type="search" name="nome" />
				
				<select name ="select">
				<option name="selecione" value="" disabled selected >Selecione .....</option>
					<option value="nome" >Nome</option>
					<option value="descricao" >Descrição</option>
					<option value="palavraChave" >Palavra Chave</option>
					</select>
				
				
				<button type="submit">Buscar</button>
    </form>
    
	<footer th:replace="fragments/padrao :: rodape"></footer>
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>	
			<script src="/materialize-v1.0.0/materialize/js/materialize.min.js"></script>
				<script>
				$(document).ready(function(){
				    $('select').formSelect();
				  });
				</script>
</body>
</html>